.centeredRowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightAlignedCenteredRowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.centeredColumnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centeredContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottomAlignedRowContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}