.button {
    font: inherit;
    color: inherit;
    border: none;
    line-height: 1;
    padding: 12px 16px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
    background-color: #ddd;
    white-space: nowrap;
}

.button:hover:enabled {
    background-color: #ccc;
}

.button:active:enabled {
    background-color: #bbb;
}

.button:disabled {
    opacity: 0.6;
}

.button:hover:enabled {
    cursor: pointer;
}

.button:active:enabled {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

.button.wide {
    width: 100%;
}

.button.small {
    font-size: 0.7em;
}

.button.primary {
    background-color: #3689b3;
    color: #ffffff;
}

.button.primary:hover:enabled {
    background-color: #327a99;
}

.button.primary:active:enabled {
    background-color: #266280;
}

.button.secondary {
    background-color: #fefdc8;
}

.button.secondary:hover:enabled {
    background-color: #fffea3;
}

.button.secondary:active:enabled {
    background-color: #fffe89;
}

.button.tertiary {
    font-size: 0.8em;
    padding: 8px 8px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

.button.tertiary:active {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.button.toolbar {
    width: 64px;
    height: 64px;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    /*border: 6px solid #777;*/
}

.button.toolbar :global(svg) {
    fill: #777;
    width: 40px;
    height: 40px;
}

.button.toolbar:active:enabled {
    transform: none;
    box-shadow: none;
}

.button.iconic {
    width: 28px;
    height: 28px;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button.iconic :global(svg) {
    fill: #3689b3;
}

.button.iconic:hover:enabled {
    background-color: transparent;
}

.button.iconic:hover:enabled :global(svg) {
    fill: #327a99;
}

.button.iconic:active:enabled {
    background-color: transparent;
    transform: none;
    box-shadow: none;
}

.button.iconic:active:enabled :global(svg) {
    fill: #266280;
}

.button.danger {
    background-color: #e16057;
    color: #ffffff;
}

.button.danger:hover:enabled {
    background-color: #c7584e;
    color: #ffffff;
}

.button.danger:active:enabled {
    background-color: #ad5145;
    color: #ffffff;
}

.button.success {
    background-color: #12ba74;
    color: #ffffff;
}

.button.success:hover:enabled {
    background-color: #08a765;
    color: #ffffff;
}

.button.success:active:enabled {
    background-color: #009557;
    color: #ffffff;
}

.button.extra {
    background-color: #ff4be3;
    color: #ffffff;
}

.button.extra:hover:enabled {
    background-color: #ff3cdf;
    color: #ffffff;
}

.button.extra:active:enabled {
    background-color: #ff2adb;
    color: #ffffff;
}