@import-normalize;

html,
body {
  /* Prevent navigation by scrolling */
  overscroll-behavior: contain;

  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Krungthep;
  font-size: 30px;
  color: #3689b3;
  line-height: 1.5;
}

