@import-normalize;

html,
body {
  /* Prevent navigation by scrolling */
  overscroll-behavior: contain;
}

body {
  font-family: Krungthep;
  font-size: 30px;
  color: #3689b3;
  line-height: 1.5;
}

