@import-normalize;

html,
body {
  /* Prevent navigation by scrolling */
  overscroll-behavior: contain;

  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Krungthep;
  font-size: 34px;
  color: #3689b3;
  line-height: 1.5;
  background-color: #eee;
}

@font-face {
  font-family: "Krungthep";
  src: local("Krungthep"),
  url("./fonts/krungthep.woff2") format("woff2"),
  url("./fonts/krungthep.woff") format("woff"),
  url("./fonts/krungthep.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Find the suits at
    [   diamond
    ]   club
    {   heart
    }   spade
    =   Single character "10"
 */
@font-face {
  font-family: "CardCharacters";
  src: local("CardCharacters"),
  url("./fonts/card-characters.woff2") format("woff2"),
  url("./fonts/card-characters.woff") format("woff"),
  url("./fonts/card-characters.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

